.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selected {
  font-weight: 900;
  font-size: 32px;
}

.option-select {
  cursor: pointer;
}

.selectable {
  display: flex;
  cursor: pointer;
  width: 400px;
  height: 150px;
  margin: 4px;
}

.selectable img {
  width: 50%
}

.text {
  padding-left: 4px;
  padding-top: 10px;
}

.title {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}


.d-flex {
  display: flex;
}

.video {
  flex-grow: 3;
  justify-self: center;
  align-self: center;
}

.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  display: table-cell;
  height: 30px;
  width: 300px;
}

.video-list {
  flex-grow: 2;
  height: 90vh;
  overflow-y: auto;
}